@import url('./styles/about.css');
@import url('./styles/contact-us.css');
@import url('./styles/projects.css');

.home-container {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 90vh 5vh;
    grid-template-areas:
        "ar ar"
        "ft ft";
    justify-content: space-evenly;
    align-items: center;
}

/* home style */

.img-grid {
    grid-area: avatar;
}

.text-info {
    grid-area: info;
}

.nav-info {
    grid-area: pg;
}

.home-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 0% 60%;
    grid-template-rows: 60% 5% 30%;
    grid-template-areas:
        "avatar . info"
        ". . . "
        "pg pg pg";
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 70%;
    margin: auto;
}

.mariam-info-style {
    border: 1px solid slateblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nav-layout {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 70%;
}

@media(max-width: 320px) {
    .projects-container {
        display: grid;
        grid-template-columns: 20% 70%;
        grid-template-rows: 10vh 80vh 5vh;
        grid-template-areas:
            "as as"
            "ar ar"
            "ft ft";
        justify-content: space-evenly;
        align-items: center;
    }
}

@media(min-width: 901px) {}

@media(min-width: 600px) {}

@media(max-width: 900px) {}