* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
}

#aside-a {
    grid-area: as;
}

#article-a {
    grid-area: ar;
}

#footer-about {
    grid-area: ft;
}

.about-container {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 90vh 5vh;
    grid-template-areas:
        "as ar"
        "ft ft";
    justify-content: space-evenly;
    align-items: center;
}

.aside-about,
.article-about {
    border: 1px solid red;
    border-radius: 10px;
    height: 80vh;
}

/* aside flex layout style */

.img-avatar {
    height: 90%;
}

.fig-side {
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    gap: 9%;
}

.aside-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.link-list {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    border: 1px solid blue;
}

.link-decoration {
    text-decoration: none;
}

/* article style */
.article-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.info,
.title {
    padding: 3%;
}

.paragraph {
    text-align: justify;
    line-height: 4.5vh;
}

/* Footer Style */
.footer {
    border: 1px solid brown;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 5vh;
}

/* for mobile screens */
/* @media (min-device-width: 0px) and (max-device-width: 767px)  */

@media screen and (max-width: 600px) {
    .article-about {
        padding: 2%;
        overflow-y: scroll;
    }

    .aside-about,
    .article-about,
    .footer {
        margin: 2%;
        height: 90%;
    }

    .paragraph,p {
        font-size: 0.7rem;
        text-align: justify;
    }
    .title {
        padding-top: 1rem;
    }

    .home {
        content: url('../assets/home.png');
        width: 1.3rem;
    }

    .about {
        content: url('../assets/about.png');
        width: 1.3rem;
    }

    .projects {
        content: url('../assets/project.png');
        width: 1.3rem;
    }

    .contact {
        content: url('../assets/contact.png');
        width: 1.3rem;
    }
}


/* for tablet screens */

/* @media(min-width: 768px) and (max-width: 992px) */
@media screen and (max-width: 1200px) {

    .img-avatar {
        height: 5vh;
    }

    /* fix this in p element 😜😜 line-height: 3vh; */
    #aside-a {
        grid-area: as;
    }

    #article-a {
        grid-area: ar;
    }

    #footer-about {
        grid-area: ft;
    }

    .about-container {
        line-height: 1em;
        display: grid;
        grid-template-columns: 97vw;
        grid-template-rows: 10vh 78vh 10vh;
        grid-template-areas:
            "as"
            "ar"
            "ft";
    }

    /* Nav layout inside */
    .aside-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .link-list {
        width: 45%;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        gap: 1%;
        align-items: center;
        margin-top: 0%;
    }

    .fig-side {
        display: flex;
        flex-direction: row;
        height: 15%;
        width: 47%;
        font-size: 0.9rem;
    }

    /* ****************** */

    .aside-about,
    .article-about,
    .footer {
        margin: 5% 3% 0.5% 3%;
        height: 96%;
    }
}