/* layout of page style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

#aside-c {
    grid-area: as;
}

#article-c {
    grid-area: ar;
}

#footer-contact {
    grid-area: ft;
}

.contact-container {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 90vh 5vh;
    grid-template-areas:
        "as ar"
        "ft ft";
    justify-content: space-evenly;
    align-items: center;
}

.aside-contact,
.article-contact {
    border: 1px solid red;
    border-radius: 10px;
    height: 80vh;
}

/* aside flex layout style */

.img-avatar {
    height: 90%;
}

.fig-side {
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    gap: 9%;
}

.aside-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.link-list {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    border: 1px solid blue;
}

.link-decoration {
    text-decoration: none;
}

/* article style */
.article-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-form,
.title {
    padding: 3%;
}

/* Footer Style */
.footer {
    border: 1px solid brown;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 5vh;
}

/* add contact layout and style */

.imgName {
    display: flex;
    align-items: center;
    gap: 2px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20%;
    height: 20%;
    width: 100%;
}

#iconContact {
    height: 30px;
    width: 30px;
}

.contact-form-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form {
    width: 70%;
}

.other-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6%;
    width: 28%;
    padding: 3%;
    height: 100%;
}

.fieldset-style {
    padding: 3%;
}

.padding-h4 {
    padding-top: 5%;
}

.form-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.form-item {
    padding-bottom: 3%;
}


/* using media query */

@media screen and (max-width: 600px) {
    .article-contact {
        padding: 2%;
        overflow-y: scroll;
    }

    .aside-contact,
    .article-contact,
    .footer {
        margin: 2%;
        height: 90%;
    }

    .title {
        padding-top: 1rem;
    }

    .home {
        content: url('../assets/home.png');
        width: 1.3rem;
    }

    .contact {
        content: url('../assets/contact.png');
        width: 1.3rem;
    }

    .projects {
        content: url('../assets/project.png');
        width: 1.3rem;
    }

    .about {
        content: url('../assets/about.png');
        width: 1.3rem;
    }

    /* ******************************** */
    .contact-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }

    #contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4%;
        height: 20%;
        width: 100%;
    }

    .contact-form,
    .other-links {
        width: 97%;
    }

    .paragraph,
    p {
        font-size: 0.7rem;
        text-align: justify;
    }

}


/* for tablet screens */
@media screen and (max-width: 1200px) {

    .img-avatar {
        height: 5vh;
    }

    .contact-container {
        line-height: 1em;
        display: grid;
        grid-template-columns: 97vw;
        grid-template-rows: 10vh 78vh 10vh;
        grid-template-areas:
            "as"
            "ar"
            "ft";
    }

    /* Nav layout inside */
    .aside-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .link-list {
        width: 45%;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        gap: 1%;
        align-items: center;
        margin-top: 0%;
    }

    .fig-side {
        display: flex;
        flex-direction: row;
        height: 15%;
        width: 47%;
        font-size: 0.9rem;
    }

    /* ****************** */

    .aside-contact,
    .article-contact,
    .footer {
        margin: 5% 3% 0.5% 3%;
        height: 96%;
    }
}